#main-container[data-v-f2fa80ab]{min-height:calc(100vh - 70px)}#main-container .footer-container[data-v-f2fa80ab]{display:flex;justify-content:center}#main-container .footer-container .n-button[data-v-f2fa80ab]{margin:5px}
