*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  overflow: hidden;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    FFXIV,
    Lato, 
    -apple-system, 
    Helvetica Neue,
    /* '思源黑体 CN', */
    Segoe UI,
    Microsoft Yahei, 
    微软雅黑, 
    Arial, 
    Helvetica, 
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
