/* Display */
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Color */
.red {
  color: red;
}

/* Text */
.font-center {
  text-align: center;
}

/* Sizing */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

/* Ui-lib Customs */
.card-title-text {
  margin-left: 3px;
  font-size: var(--n-title-font-size);
  font-weight: var(--n-title-font-weight);
}