/* Display */
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-hac {
  display: flex;
  justify-content: center;
}
.flex-vac {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.gap-2 {
  gap: 2px;
}
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.edge-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.no-margin {
  margin: 0 !important;
}

/* Control */
.no-select {
  user-select: none;
}

/* Color */
.red {
  color: red;
}
.orangered {
  color: orangered;
}
.green {
  color: green;
}
.color-info {
  color: #3b7fef;
}
.color-warning {
  color: #ffc107;
}
.text-sub {
  color: var(--color-text-sub);
}

/* Text */
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.font-center {
  text-align: center;
}
.font-small {
  font-size: calc(var(--n-font-size) - 2px);
}
.font-big {
  font-size: calc(var(--n-font-size) + 2px);
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/* Line-Height */
.lh-100 {
  line-height: 1;
}
.lh-120 {
  line-height: 1.2;
}
.lh-150 {
  line-height: 1.5;
}

/* Sizing */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

/* Deal Ui */
.n-square-button {
  width: var(--n-height);
  padding: 0;
}
.spin-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

/* Ui-lib Customs */
.n-button.no-border {
  .n-button__border, .n-button__state-border {
    border: 1px solid transparent !important;
  }
}
.card-title-text {
  margin-left: 3px;
  font-size: var(--n-title-font-size);
  font-weight: var(--n-title-font-weight);
}
.card-title-extra {
  margin-left: 5px;
  font-size: var(--n-font-size);
}
.card-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .title {
    margin-left: 5px;
  }
  .description {
    align-self: end;
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 14px;
  }
}
.card-title-actions {
  height: 100%;
  display: flex;
  align-items: baseline;
  font-size: var(--n-font-size);
  margin: 3px 0 0 5px;
}
.no-margin-empty {
  .n-empty__description {
    margin-top: 0 !important;
  }
}
.tab-title {
  display: flex;
  align-items: center;

  .n-icon {
    margin-top: 1px;
  }
  span {
    margin-left: 1px;
  }
}
.n-badge {
  font-family: inherit;
}
.n-option-hideoverflow {
  .n-dropdown-option-body__label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.n-timeline-item-content__title {
  text-decoration-line: underline;
  --n-title-margin: -2px 0 3px 0;
  --n-title-font-weight: bold;
  --n-title-font-size: 18px;
}
table.n-table.tiny-table {
  font-size: 12px;
  --n-line-height: 1 !important;
  th, td {
    padding: 4px;
  }
}
table.n-table tbody tr:hover td {
  background-color: var(--n-th-color-popover);
}
.n-data-table-th__title {
  font-weight: bold;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
code {
  border: 1px solid var(--n-text-color);
  padding: 0 4px;
  border-radius: 4px;
  font-family: inherit;
}
