/* Display */
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Control */
.no-select {
  user-select:none;
}

/* Color */
.red {
  color: red;
}

/* Text */
.font-center {
  text-align: center;
}

/* Sizing */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

/* Ui-lib Customs */
.card-title-text {
  margin-left: 3px;
  font-size: var(--n-title-font-size);
  font-weight: var(--n-title-font-weight);
}
.card-title {
  display: flex;
  align-items: center;

  .title {
    margin-left: 5px;
  }
  .description {
    align-self: end;
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 14px;
  }
}
.tab-title {
  display: flex;
  align-items: center;

  .n-icon {
    margin-top: 1px;
  }
  span {
    margin-left: 1px;
  }
}