@import './base.css';
@import './custom.css';
@import './shared.css';
@import './font.css';
@import './font/xiv-axis-font.css';
@import './scroll-bar.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  touch-action: manipulation;
}

.theme-light {
  --color-text: rgb(51, 54, 57);
  --color-text-sub: rgb(118, 124, 130);
  --color-primary: #18a058;
  --color-info: #2080f0;
  --color-warning: #f0a020;
  --color-error: #d03050;
  --color-border: rgb(239, 239, 245);
  --color-background: #fff;
  --color-background-embedded: rgb(250, 250, 252);
  --color-background-modal: #fff;
  --color-background-action: rgb(250, 250, 252);
  --color-background-popover: #fff;
  --color-background-hover: #F4F5F5;
}
.theme-dark {
  --color-text: rgba(255, 255, 255, 0.82);
  --color-text-sub: rgba(255, 255, 255, 0.52);
  --color-primary: #63e2b7;
  --color-info: #70c0e8;
  --color-warning: #f2c97d;
  --color-error: #e88080;
  --color-border: rgba(255, 255, 255, 0.09);
  --color-background: rgb(16, 16, 20);
  --color-background-embedded: rgb(24, 24, 28);
  --color-background-modal: rgb(44, 44, 50);
  --color-background-action: rgb(56, 56, 62);
  --color-background-popover: rgb(72, 72, 78);
  --color-background-hover: #2A2A2E;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
  cursor: pointer;
}

ul {
  padding-left: 1.5em;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
