@import './base.css';
@import './custom.css';
@import './shared.css';
@import './font.css';
@import './font/xiv-axis-font.css';
@import './scroll-bar.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  touch-action: manipulation;
}

.theme-light {
  --color-text: rgb(51, 54, 57);
  --color-primary: #18a058;
  --color-info: #2080f0;
  --color-warning: #f0a020;
  --color-error: #d03050;
}
.theme-dark {
  --color-text: rgba(255, 255, 255, 0.82);
  --color-primary: #63e2b7;
  --color-info: #70c0e8;
  --color-warning: #f2c97d;
  --color-error: #e88080;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
