.appheader-menu-button {
  justify-content: start;
  padding: 0;
  padding-right: 8px;

  .button-content {
    display: flex;
    align-items: center;

    .button-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      margin-right: 4px;
    }
  }
}

.account-view {
  position: absolute;
  top: 36px;
  right: 20px;
  z-index: 2000;
}

.macro-name-container {
  line-height: 1.2;

  .macro-name {
    font-size: 16px;
  }
  .macro-tags-container {
    font-size: 12px;
    display: flex;
    gap: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .n-tag {
      height: inherit;
      font-size: 10px;
      padding: 0 4px;
    }
  }
  .macro-remark {
    font-size: 12px;
  }
}

.extra-header-container {
  display: flex;
  align-items: center;

  .square-action {
    width: 22px;
    height: 22px;
    padding: 2px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease;

    .unshow-text {
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  .square-action:hover {
    width: auto;
    
    .unshow-text {
      opacity: 1;
    }
  }
}

.modal-submit-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.glasscard {
  box-shadow: var(--glasscard-shadow);
  background: var(--glasscard-bg) !important;
  backdrop-filter: blur(var(--glasscard-blur)) saturate(var(--glasscard-saturate));
  -webkit-backdrop-filter: blur(var(--glasscard-blur)) saturate(var(--glasscard-saturate));

  --color-border: #9e9e9e;
}
.glasscard.smallcard {
  box-shadow: unset;
  background: var(--glasscard-bg-small) !important;
  border: 1px solid var(--glasscard-bordercolor-small, --n-border-color);
}
